*body {
    margin: 0;
  }
  #id1 {
      overflow: hidden;
      position: fixed;
      top: 0;
      width: 100%;
      padding-top: 3px;
      }

  .main img {
      max-width: 100%;
      height: auto;
  }
  img{
      width: 700px;
      height: auto;
  }
  .button {
    width: 300px;
    height: 60px;
  }